.container-box{
    margin-top: 70px;
}
.container-box > input, button{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 20px;
}
.box-title, .box-author{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.384);
    text-align: center;
}
.box-text{
    width: 500px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.384);
}
.submit{
    height: 50px;
    width: 200px;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.384);
}