@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap');

.header{
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: end;
    align-items: center;
}
.title{
    margin-top: 40px;
    margin-right: 25%;
    height: 130px;
    width: 500px;
}
.title > h1{
    text-align: center;
    padding: 50px;
    font-family: 'IM Fell Great Primer SC', serif;
    font-size: 50px;
    background: rgb(63, 161, 116);
    border-radius: 20px;

}
.pencil, .avatar{
    height: 50px;
    margin-right: 30px;
}
.avatar{
    border-radius: 100px;
}

@media screen and (max-width: 8000px) {
    .title {
        margin-top: 50px;
    }
    .title > h1 {
        margin-top:0;
        font-size: 30px;
        padding: 20px;
    }
  } 