@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap');

.header{
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: end;
    align-items: center;
}
.title{
    height: 130px;
    width: 500px;
    background: rgb(63, 161, 116);
    margin-top: 40px;
    margin-right: 25%;
    border-radius: 20px;
}
h1{
    text-align: center;
    margin-top: 30px;
    font-family: 'IM Fell Great Primer SC', serif;
    font-size: 50px;
}
.pencil, .avatar{
    height: 50px;
    margin-right: 30px;
}
.avatar{
    border-radius: 100px;
}